In [1]:
library(dplyr)
library(tidyverse)
library(downloader)
library(dslabs)
library(dplyr)
data(nym.2002, package="UsingR")
library(rafalib)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.6     ✔ stringr 1.4.0
✔ tidyr   1.1.4     ✔ forcats 0.5.1
✔ readr   2.1.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [3]:
mypar(1,3)
male <- nym.2002 %>% 
filter(gender == "Male") %>%
select(time) %>% unlist()
female <- nym.2002 %>%
filter(gender == "Female") %>%
select(time) %>% unlist()

In [5]:
boxplot(male, femalem)
hist(male$time)
hist(femalea$time)

ERROR: Error in boxplot.default(male, femalem): object 'femalem' not found

In [3]:
head(nym.2002)

      place gender age home time
3475   3592 Male   52  GBR  217.4833
13594 13853 Female 40  NY   272.5500
12012 12256 Male   31  FRA  265.2833
10236 10457 Female 33  MI   256.1500
9476   9686 Male   33  NY   252.2500
1720   1784 Male   40  NJ   201.9667

[1] 0